@import "../css/vibe.css";

.next-event {
    width: 1024px;
    background-color: var(--bg-main-light);
    color: var(--bg-secondary-dark);
    font-family:'Questrial', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    margin: 0px;
    padding: 10px;
}

.event-table {
    table-layout: fixed;
    width: 1024px;
    background-color: var(--bg-dark);
    color: var(--text-secondary-light);
    font-size: 28px;
    font-family: sans-serif;
    font-weight: normal;
    padding: 10px;
    vertical-align:top;
}

.event-table td {
    border-bottom: 2px solid var(--table-border); 
}

.event-table .date-label {
    font-size: 0.90em;
    font-weight: 300;
    color: var(--text-weak-light);
    text-align: right;
}

.event-table .time-label {
    font-size: 0.75em;
    font-weight: 300;
    color: #888888;
    text-align: right;
    text-transform: lowercase;
}

